@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btnLink {
        @apply border-solid border-2 border-mainPink w-fit m-auto px-5 py-1 rounded-md mb-4 min-w-link font-poppins font-semibold text-mainPink hover:bg-mainPink hover:text-bgWhite hover:scale-110 transition ease-in-out duration-300
    }
    .hoverProfile {
        @apply hover:scale-110 transition ease-in-out
    }
}